<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}">
    <style>
        [th\\:cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" th:cloak>
    <div class="row">
        <div class="col-md-6">
            <h3>채팅방 리스트</h3>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary btn-sm" href="/logout" >로그아웃</a>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">방제목</label>
        </div>
        <input type="text" class="form-control" name="room_name" th:onkeydown="if(event.key === 'Enter') createRoom();">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" th:onclick="createRoom()">채팅방 개설</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" th:each="item : ${chatrooms}" th:key="${item.roomId}" th:onclick="enterRoom(item.roomId, item.name)">
            <div th:with="itemInfo=${item.name}" th:text="${itemInfo}"></div>
            <div th:text="${item.userCount}"></div>
        </li>
    </ul>
</div>
<!-- JavaScript -->
<script th:src="@{/webjars/axios/0.17.1/dist/axios.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    // Thymeleaf 변수를 JavaScript 변수로 가져오기
    var chatrooms = /*[[${chatrooms}]]*/ [];

    // 채팅방 개설 함수
    function createRoom() {
        var roomNameInput = document.querySelector('input[name="room_name"]');
        var roomName = roomNameInput.value.trim();
        if (roomName === '') {
            alert("방 제목을 입력해 주세요.");
            return;
        }

        var params = new URLSearchParams();
        params.append("name", roomName);
        axios.post('/chat/room', params)
            .then(function (response) {
                alert(response.data.roomName + " 방 개설에 성공하였습니다.");
                roomNameInput.value = '';
                findAllRoom();
            })
            .catch(function (error) {
                alert("채팅방 개설에 실패하였습니다.");
            });
    }

    // 채팅방 목록 조회 함수
    function findAllRoom() {
        axios.get('/chat/rooms')
            .then(function (response) {
                // prevent html, allow json array
                if (Array.isArray(response.data)) {
                    chatrooms = response.data;
                    renderChatrooms();
                }
            });
    }

    // 채팅방 입장 함수
    function enterRoom(roomId, roomName) {
        localStorage.setItem('wschat.roomId', roomId);
        localStorage.setItem('wschat.roomName', roomName);
        location.href = "/chat/room/enter/" + roomId;
    }

    function renderChatrooms() {
        var listGroup = document.querySelector('.list-group');
        listGroup.innerHTML = '';
        chatrooms.forEach(function (item) {
            var li = document.createElement('li');
            li.classList.add('list-group-item', 'list-group-item-action');
            li.setAttribute('onclick', 'enterRoom("' + item.roomId + '", "' + item.roomName + '")');
            var text = document.createElement('div');
            text.textContent = item.roomName;
            text.style.float = 'left';
            var span = document.createElement('div');
            span.textContent = item.userCount+'명';
            span.style.float = 'right';

            li.appendChild(text);
            li.appendChild(span);
            listGroup.appendChild(li);
        });
    }

    findAllRoom();

    //]]>
</script>
</body>
</html>
